$minWidth: 375;
$maxWidth: 1920; // Ширина макета

$base-font-family: 'Montserrat', sans-serif;
$base-font-color: black;

$base-transition-time: .3s;
$base-transition-easing: ease;

$color-accent: #82D174;
$color-contrasting: white;

$intro-bg-color: linear-gradient(90deg, #F3AD26 10%, rgba(210, 101, 1, 1) 80%);

$header-z-index: 5;
$bg-image-z-index: 1;
$context-text-z-index: 2;