.header {
  z-index: $header-z-index;
  
  padding: 2rem 0;

  background-color: black;
  color: white;

  // background: $intro-bg-color;
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}